[project]
name = "proj-test"
description = ""
authors = []
readme = "README.md"
version = "0.1.0"
scripts = {"run-test" = "proj.run_test:main"}

[build-system]
requires = ["setuptools>=42", "wheel", "runtime_builder @ file://RUNTIME_BUILDER_ROOT"]
build-backend = "setuptools.build_meta"
